# Ignore log files
*.log

# Ignore cache and temporary files
*.cache
*.tmp

# Ignore vendor folder (Composer dependencies)
/vendor/

# Ignore node_modules and related files
/node_modules/
/package-lock.json
/yarn.lock

# Ignore build and distribution directories
/dist/
/build/

# Ignore cache, public, and files folders
/cache/
/public/
/files/

# Ignore macOS system files
.DS_Store
